@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section-width {
    @apply mx-5 md:container md:mx-auto;
  }
  .btn {
    @apply px-5 py-4 rounded-md font-bold text-center uppercase bg-gradient-to-r from-emerald-500 to-violet-500 text-white hover:from-pink-500 hover:to-yellow-500 font-bold;
  }
  .navigation-btn {
    @apply bg-cyan-500 hover:bg-white text-white hover:text-cyan-500 text-base md:text-lg lg:text-xl font-bold px-1 py-5 uppercase border-b-2;
  }
  /* font color */
  .color-txt {
    @apply text-cyan-800 placeholder-cyan-800;
  }
  .light-color-txt {
    @apply text-cyan-300;
  }
  .secondary-color-txt {
    @apply text-violet-600;
  }
  /* Font size */
  .section-header {
    @apply text-3xl md:text-5xl font-bold capitalize text-black;
  }
  .sub-header {
    @apply text-xl md:text-3xl;
  }
  .body-txt {
    @apply text-base md:text-xl;
  }
}